# Deno
.deno/

# Environment
.env

# Node/npm compatibility
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

/tests
/scripts
/src/seed.ts
deno.lock
/api/index.js
\n# Vercel Build Artifacts\napi/index.js
